- title "Log in"
%h3 Log in
= form_tag login_path do
  %table
    %tr
      %td= text_field_tag :name, nil, placeholder: "Name"
    %tr
      %td= password_field_tag :password, nil, placeholder: "Password"
    %tr
      %td= button_tag "Log in", class: "btn btn-primary btn-block"
