- title "Settings"

%h3
  Settings
  %small= link_to "export as JSON config file", controller: :settings, action: :index, format: :json

- if @settings.present?
  %table.table{style: "width: auto;"}
    %thead
      %tr
        %th Key
        %th Value
        %th Last updated
        %th Protection
        %th
    %tbody
      = render @settings
      %tr
        %td{colspan: 5}= content_tag :a, "+", class: "btn", id: "new"
- else
  %h3 No settings.
