/*
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

p {
  margin: 0;
}

td.updated {
  vertical-align: middle;
}

span.aws-setting {
  padding: 3px 4px;
  border: 1px dotted #aaa;
  &.undefined {
    color: #777;
  }
}

input, select {
  margin: 0 !important;
}

.main.container {
  margin: 20px auto;
}

.commands-block {
  a {
    text-decoration: none;
  }
}

.footer {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #eee;
  color: #ccc;
}
