-title "Logs"

%h3 Logs

- if @log[:success]
  %table.table{style: "width: auto;"}
    %thead
      %tr
        %th Action
        %th Response
    %tbody
      - @log[:log].each do |msg|
        %tr
          %th{colspan: 2}= msg[:time]
        %tr
          %td= msg[:action]
          %td= msg[:response]
